/*Nav-bar*/
/* For Mobile Portrait View */
@media screen
and (max-width: 768px){
    #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        align-items: center;
    }
    #catchword{
        visibility: hidden;
    }
}



@media screen 
and (min-width: 769px)
and (max-width: 1024px) {
    #nav-bar{
        display: flex;
        align-items: center;
        padding: 10px;
    }
    #logo{
        width: 165px;
    }
    #catchword{
        font-size: 40px;
        font-family: "Oswald", sans-serif;
    }
}

/*Fin nav-bar*/


/*6 films*/

/* Tablettes : 4 éléments visibles */
@media screen 
and (min-width: 769px)
and (max-width: 1024px) {
    .col {
        width: calc(50% - 10px); /* 2 colonnes */
    }
    .show-more {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .container:not(.show-all) .col:nth-child(n+5) {
        display: none;
    }
}


/* Téléphone : 2 éléments visibles */
@media screen 
and (max-width: 768px)
and (orientation: portrait){
    .container:not(.show-all) .col:nth-child(n+3) {
        display: none;
    }
    .show-more {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

}

/*Modal tablettes et téléphones*/
@media screen 
and (max-width: 1024px){
    .modal {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
        overflow-y: auto;
        max-height: 100vh;
    }
    .custom-modal-content {
        background: white;
        padding: 20px;
        width: 50vw; 
        max-width: 600px;
        height: auto;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        overflow-y: auto;
        max-height: 100vh;
        border: 6px solid black;
        display: grid;
        grid-template-columns: repeat(1);
        grid-template-rows: repeat(11);
        gap: 8px;
    }

    .custom-modal-header {
        grid-row: span 3 / span 3;
    }

    .custom-modal-resume {
        grid-row: span 3 / span 3;
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .custom-modal-actors {
        grid-row: span 2 / span 2;
        grid-row-start: 10;
    }

    .custom-modal-image {
        grid-row: span 3 / span 3;
        grid-column-start: 1;
        grid-row-start: 7;
    }
    .modal-img {
        margin-top: 20px;
        width: 100%;
    }

    .custom-modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 28px;
        font-weight: bold;
        color: red;
        cursor: pointer;
        display: block;
        width: 32px;
        height: 32px;
    }
    .close {
        display: none;
    }
}

@media screen 
and (min-width: 1025px){
    .show-more{
        display: none;
    }
    .modal {
        display: none;  
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 778px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.5); 
        align-items: center;
        justify-content: center;
        border: 6px solid black;
        overflow-y: auto;
    }

    .custom-modal-content{
        background: white;
        padding: 20px;
        width: 850px;
        height: auto;
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7);
        gap: 8px;
        overflow-y: auto;
        max-height: 100vh;
    }

    .custom-modal-header{
        grid-column: span 3 / span 3;
        grid-row: span 3 / span 3;
        align-items: center;
        gap: 20px;
    }

    .directors {
        align-self: end;
    }

    .custom-modal-image {
        grid-column: span 2 / span 2;
        grid-row: span 3 / span 3;
        grid-column-start: 4;
        justify-self: end;
    }

    .modal-img {
        width: 227px;
        height: 334px;
    }

    .custom-modal-resume {
        grid-column: span 5 / span 5;
        grid-row: span 2 / span 2;
        grid-row-start: 4;
    }

    .custom-modal-actors {
        grid-column: span 5 / span 5;
        grid-row-start: 6;
    }

    .custom-modal-footer {
        grid-column-start: 3;
        grid-row-start: 7;
        align-self: end;
    }

    .custom-modal-close {
        display: none;
    }

    .close {
        background-color: #FA0B0B;
        color: white;
        padding: 2px 4px 2px 4px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 16px;
        width: 214px;
        height: 36px;
        text-align: center;
    }
}


/*Général*/
.custom-modal-header {
    font-family: "Oswald", sans-serif;
    text-align: start;
}

.custom-modal-resume {
    font-family: "Oswald", sans-serif;
    text-align: start;
    font-weight: 300;
    font-size: 24px;
}

.custom-modal-actors {
    font-family: "Oswald", sans-serif;
    text-align: start;
}

.with {
    font-size: 24px;
    font-weight: 400;
}

.actors-list {
    font-size: 24px;
    font-weight: 300;
}

.custom-modal-title {
    font-size: 48px;
    font-weight: 600;
}

.custom-modal-info {
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
}

.directors {
    font-size: 24px;
    font-weight: 400;
}

.directors-list {
    font-size: 24px;
    font-weight: 300;
}


#logo {
    width: 15em;
}
#catchword{
    margin-left: 2em;
}


#best-movie-title{
    font-family: "Oswald", sans-serif;
    font-size: 48px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    width: 100%;
}

.home-img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.overlay {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    text-align: center;
    padding: 30px 0;
    cursor: pointer;
    font-size: 18px;
}

.overlay-btn {
    align-items: end;
    border-color: #2D2C2C;
    background-color: #2D2C2C ;
    border-radius: 25px;
    width: 81px;
    height: 25px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    top: 70%;
    right: 2em;
    font-size: 50%;
    font-family: "Oswald", sans-serif;
}

.overlay-title {
    vertical-align: middle;
    font-size: 24px;
    text-align: left;
    padding-left: 5%;
    font-family: "Oswald", sans-serif;
}
/*Best movie style*/
#best-movie-btn-details {
    align-items: end;
    border-color: #FA0B0B;
    background-color: #FA0B0B ;
    border-radius: 25px;
    width: 158px;
    height: 64px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    bottom: 2em;
    right: 2em;
}


.toggleButton{
    background-color: #FA0B0B;
    color: white;
    padding: 2px 4px 2px 4px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 214px;
    height: 36px;
    position: absolute;
}

.image-container {
    position: relative;
    display: inline-block;
}

#category-info {
    display: none;
}

.maintxt {position: relative;}
.maintxt > img, .overlay-text {position: absolute;}
