/*Nav-bar*/
/* For Mobile Portrait View */
@media screen
and (max-width: 480px)
and (orientation: portrait){
    #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #catchword{
        visibility: hidden;
    }
}

/* For Mobile Landscape View */
@media screen
and (max-width: 640px)
and (orientation: landscape){
    #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #catchword{
        visibility: hidden;
    }
}


/*Fin nav-bar*/


/*6 films*/

/* Tablettes : 4 éléments visibles */
@media screen 
and (min-width: 769px)
and (max-width: 1024px) {
    .col {
        width: calc(50% - 10px); /* 2 colonnes */
    }
    .show-more {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .container:not(.show-all) .col:nth-child(n+5) {
        display: none;
    }
}


/* Téléphone : 2 éléments visibles */
@media screen 
and (max-width: 768px)
and (orientation: portrait){
    .container:not(.show-all) .col:nth-child(n+3) {
        display: none;
    }
    .show-more {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}

@media screen 
and (min-width: 1025px){
    .show-more{
        display: none;
    }
}

#logo {
    width: 15em;
}
#catchword{
    margin-left: 2em;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    width: 100%;
}




.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    text-align: center;
    padding: 30px 0;
    cursor: pointer;
    font-size: 18px;
}

/*Best movie style*/
#best-movie-btn-details {
    align-items: end;
    border-color: #FA0B0B;
    background-color: #FA0B0B ;
    border-radius: 25px;
    width: 166px;
    height: 68px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    bottom: 2em;
    right: 2em;
}
.modal {
    display: none;  
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 778px;
    height: 939px;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    border: black;
}
.custom-modal-content{
    background: white;
    padding: 20px;
    width: 50%;
    text-align: center;
    position: relative;
}
.custom-modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: start;
}

.modal-infos{
    padding-left: 20px;
}

.modal-image img {
    width: 227px;
    height: 334px;
    object-fit: cover;
}

.custom-modal-body{
    margin-top: 20px;
    width: 100%;
    text-align: start;
}

.close {
    background-color: #FA0B0B;
    color: white;
    padding: 2px 4px 2px 4px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 214px;
    height: 36px;
}

.toggleButton{
    background-color: #FA0B0B;
    color: white;
    padding: 2px 4px 2px 4px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 214px;
    height: 36px;
    position: absolute;
}

.image-container {
    position: relative;
    display: inline-block;
}

.maintxt {position: relative;}
.maintxt > img, .overlay-text {position: absolute;}
